.things {
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    grid-template-areas:
        "aside nav my-data"
        "aside main my-data"
        "aside main my-data";
    /* grid-template-columns: var(--aside-width) 0px 1fr; */
    grid-template-columns: var(--aside-width) 1fr var(--aside-width);
    grid-template-rows: 70px 1fr;
    height: 100dvh;
}

.things > * {
    padding: var(--padding);
    height: 100%;
}

.things .splitPane {
    grid-area: main;
    position: unset !important;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
}
