:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --padding: 1rem;
    --gap: 7px;
    --aside-width: 210px;
    --aside-height: 70px;
    --color-primary: #2a394b;
    --color-editor: #f8f8f8;
    --color-preview: #f8f8f8;
    --color-success: #28a745;
    --color-info: #007bff;
    --color-accent: #b44;
    --border-radius: 10px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    padding: var(--padding);
    width: 100%;
    height: 100%;
    resize: none;
}

li.active {
    border: 1px solid silver;
}

/* Buttons */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #f0f0f0;
    color: #444;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #ddd;
    border-color: #bbb;
}

button.outlined {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

button.outlined:hover:not(:disabled) {
    background-color: #555;
    border-color: #777;
}

button.rounded {
    border-radius: 100px;
}

button.link,
button.link:hover {
    background: none;
    border: 0;
    text-decoration: underline;
    color: white;
}

button.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button.icon svg {
    width: min-content;
    height: min-content;
}

button.success {
    background-color: var(--color-success);
    color: white;
}

button.success:hover:not(:disabled) {
    background-color: #218838;
}

button.info {
    background-color: var(--color-info);
    color: white;
}

button.info:hover:not(:disabled) {
    background-color: #0056b3;
}

button.accent {
    background-color: var(--color-accent);
    border: 0;
    color: white;
}

button.accent:hover:not(:disabled) {
    background-color: #c65555;
}

/* Inputs */
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

input:focus {
    background-color: #444;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

input:disabled {
    background-color: #555;
    color: #777;
    border-color: #666;
    cursor: not-allowed;
}

.tox,
.tox-tinymce {
    z-index: 0 !important;
}

/* SVG */
svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Helpers */
.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.center-start {
    justify-content: center;
    align-items: flex-start;
}

.column {
    flex-direction: column;
}

.full-center {
    display: grid;
    place-items: center;
    width: 100dvw;
    height: 100dvh;
}

.gap {
    gap: var(--gap);
}

.gap-2 {
    gap: calc(var(--gap) * 2);
}

.gap-3 {
    gap: calc(var(--gap) * 3);
}
