.things {
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    grid-template-areas:
        "nav nav my-data"
        "main main my-data"
        "main main my-data";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 63px 1fr;
}

.things.menuOpen {
    grid-template-areas:
        "aside nav nav my-data"
        "aside main main my-data"
        "aside main main my-data";
    grid-template-columns: var(--aside-width) 1fr 1fr;
    grid-template-rows: calc(var(--aside-height) - var(--gap));
}

.things aside:first-of-type {
    display: none;
}

.things.menuOpen aside:first-of-type {
    display: block;
}

.things > * {
    padding: var(--padding);
}

.things .splitPane {
    grid-area: main;
    position: unset !important;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
}

.things main.withoutNote {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-secondary);
}
