.app {
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    grid-template-areas:
        "nav nav my-data"
        "main main my-data"
        "main main my-data";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.app.menuOpen {
    grid-template-areas:
        "aside nav nav my-data"
        "aside main main my-data"
        "aside main main my-data";
    grid-template-columns: var(--aside-width) 1fr 1fr;
    grid-template-rows: calc(var(--aside-height) - var(--gap));
}

.app:first-child {
    display: none;
}

.app.menuOpen:first-child {
    display: block;
}

.app > * {
    padding: var(--padding);
}

.app .splitPane {
    grid-area: main;
    position: unset !important;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
}
