.voiceChannel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--border-radius) * 1.5);
    background-color: rgba(124, 123, 123, 0.2);
    margin: var(--padding) 0;
    padding: var(--padding);
}

button.join {
    font-size: 0.9rem;
}
