.editor {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 0 5em;
    text-align: center;
}

.editor textarea {
    outline: none;
    border-radius: calc(var(--padding) - var(--border-radius));
}
